<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<connectionStrings>
		<add name="MovieTicketBooking.NewsDB" connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=Movie_Ticket_Booking;Integrated Security=True;Connect Timeout=30;Encrypt=False;Trust Server Certificate=False;Application Intent=ReadWrite;Multi Subnet Failover=False"
		  providerName="System.Data.SqlClient" />
	</connectionStrings>
	<!-- 
	<system.serviceModel>
		<services>
			<service name="Movie_Ticket_Booking_Services.UserServices">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/UserServices/" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="basicHttpBinding" contract="Movie_Ticket_Booking_Services.IUserServices">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="Movie_Ticket_Booking_Services.TheaterServices">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TheaterServices/" />
					</baseAddresses>
				</host>
				
				<endpoint address="" binding="basicHttpBinding" contract="Movie_Ticket_Booking_Services.ITheaterServices">
					
          
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
			<service name="Movie_Ticket_Booking_Services.MovieServices">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/MovieServices/" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="basicHttpBinding" contract="Movie_Ticket_Booking_Services.IMovieServices">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>

			<service name="Movie_Ticket_Booking_Services.TicketServices">
				<host>
					<baseAddresses>
						<add baseAddress = "http://localhost:8733/Design_Time_Addresses/Movie_Ticket_Booking_Services/TicketServices/" />
					</baseAddresses>
				</host>

				<endpoint address="" binding="basicHttpBinding" contract="Movie_Ticket_Booking_Services.ITicketServices">
					<identity>
						<dns value="localhost"/>
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior>
					
					<serviceMetadata httpGetEnabled="True" httpsGetEnabled="True"/>
					
					<serviceDebug includeExceptionDetailInFaults="False" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	 -->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->
  

</configuration>
